@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
    background-color:white;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
h1 {
    color: rgb(60, 96, 164);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
    font-weight: 500px;
}

p {
    color: rgb(60, 96, 164);
    text-align: center;
    padding: 15px;
    font-size: 16px;
}
#container {
    height: 300px;
    width: 400px;
    background-color: rgb(60, 96, 164);
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 50px;
    grid-template-rows: 100px 1fr 1fr;
    margin: auto;
    border: 5px solid rgb(58, 72, 98);
}
#berat-input{
    height: 25px;
    width: 250px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    align-self: center;
    margin-top: 15px;
}
#blabel {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: 23px;
    color: #fff;
    font-size: 12px;
}
#tinggi-input{
    height: 25px;
    width: 250px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    align-self: center;
    margin-bottom: 30px; ;
}
#tlabel {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    color: #fff;
    font-size: 12px;
    margin-bottom: 50px;
}
#bmi-output {
    height: 25px;
    width: 70px;
    align-self: center;
    margin-top:200px;
}
#bmilabel {
    color:#fff;
    font-size: 12px;
    text-align: left;
    margin-left: 250px;

}
#btn {
    height: 25px;
    width: 100px;
    justify-self: left;
    margin-top: 170px;
    margin-left: 50px;
   /* border: 2px solid rgb(58, 72, 98);
    background-color: rgb(128, 152, 196);
    color: #fff;*/

}

#reset {
    height: 25px;
    width: 100px;
    justify-self: center;
    margin-top: 170px;
    font-size: 12px;
}

.tombol{
    display: flex;
    justify-content: space-between;
}
caption{
    margin-bottom: 10px;
}
#table {
    height: 120px;
    width: 400px;
    background-color: white;
    margin: auto;
    padding-top: 20px;
    border: 5px solid rgb(58, 72, 98);
    font-size: 12px;
}
table, th, td {
    margin: auto;
    text-align: center;
    border: 1px solid black;
    padding: 2px;
    font-size: 12px;
    color: rgb(60, 96, 164);
}

